@charset "UTF-8";

@media screen and (min-width: 200px) and (max-width: 786px) {

    :root { 
        --cor: #072959;
        --cor1: #06407f;
        --cor2: #006dc7;
        --cor3: #98cbf3;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: rgba(0, 0, 0, 0.555);
    }

    header {
        text-align: center;
        color: var(--cor2);
    }
    
    header h1 {
        font-size: 2em;
    }

    header span {
        color: black;
        
    }

    #men {
        font-size: 1.8em;
        display: block;
        text-align: right;
        padding: 10px;
        padding-top: calc(-50%);
        cursor: pointer;
    }

    #links {
        font-size: 1.3em;
        
    }

    menu {
        display: none;
        padding: 10px;
        

    }

    menu ul {
        list-style-type: none;
    }

    menu > ul > li > a {
        display: block;
        font-size: 1.1em;
        text-align: right;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.5s;
        ;
    }

   menu > a:hover {
    box-shadow: #98cbf3;
   }

   article > img {
    margin: auto;
    display: block;
    padding: 10px;
    height: 240px;
    width: 350px;
    border-radius: 20px;
   }

   article > P {
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 350px;
   }

   article > button {
    margin: auto;
    display: block;
    margin-top: 10px;
    background-color: var(--cor3);
    color: black;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5pc;
    padding: 10px;
   }

   article > button:hover {
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
   }

    picture > img {
        margin: auto;
        margin-top: 20px;
        height: 130px;
        width: 65px;
        padding: 10px;
        margin-top: 20px;
        border-radius: 6px;
        margin-left: 10px;
        
    }        


    .pequena {
        background-color: azure;
        margin-left: 72px;
    }

    .media {
        background-color: azure;
    }

    .grande {
        background-color: azure;
    }

    
   
}