@charset "UTF-8";

@media screen and (max-width: 600px) {

    :root { 
        --cor: #072959;
        --cor1: #06407f;
        --cor2: #006dc7;
        --cor3: #98cbf3;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: white;
    }
    
    header {
        text-align: center;
        color: var(--cor2);
    }
    
    header h1 {
        font-size: 2em;
    }

    header span {
        color: black;
        
    }
    
    footer {
        text-align: center;
    }

}