@charset "UTF-8";

:root { 
    --cor: #072959;
    --cor1: #06407f;
    --cor2: #006dc7;
    --cor3: #98cbf3;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header {
    text-align: center;
    color: var(--cor2);
}

#men {
    font-size: 1.8em;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
    padding: 10px;
    box-shadow: 0px 7px 7px var(--cor1);

}

menu ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    color: rgba(0, 255, 255, 0.756);
}

footer {
    text-align: center;
}